<h1 style="font-family:Impact,Arial;font-size:30px;">37005 Fundamental of Derivative Security Pricing - Spring 2024</h1>
<h1 style="font-family:Impact,Arial;font-size:20px;">Group Assignment Part 1</h1>
<p style="font-family:Arial;">Group 1</p>
<ul>
<li>Hayoung Lee</li>
<li>Quoc Thai Tran</li>
<li>Alexis Cullet</li>
<li>Ziqi Zhou</li>
</ul>

# Import package

In [24]:
import pandas as pd
import numpy as np
from scipy.optimize import minimize

# Import data

In [37]:
def data_preprocessing():
    df = pd.read_excel('spx_quotedata20220308_all.xlsx')
    df.drop(columns=['Last Sale', 'Calls', 'Net', 'IV', 'Delta', 'Gamma', 'Open Interest', 'Puts', 'Last Sale.1', 'Net.1', 'IV.1', 'Delta.1', 'Gamma.1', 'Open Interest.1'], inplace=True)
    df.rename(columns={'Bid': 'Call Bid', 'Ask': 'Call Ask', 'Volume': 'Call Volume', 'Bid.1':'Put Bid', 'Ask.1':'Put Ask', 'Volume.1':'Put Volume'}, inplace=True)
    df['Expiration Date']=pd.to_datetime(df['Expiration Date'], format='%a %b %d %Y')
    df['Call Price']=(df['Call Bid']+df['Call Ask'])/2
    df['Put Price']=(df['Put Bid']+df['Put Ask'])/2
    columns = df.columns.tolist()
    df.sort_values(by=['Expiration Date'], ascending=True, inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df[columns[:2]+['Call Price']+columns[2:6]+['Put Price']+columns[6:-2]]
data_preprocessing()

,Expiration Date,Call Bid,Call Price,Call Ask,Call Volume,Strike,Put Bid,Put Price,Put Ask,Put Volume
0,2022-03-09,1151.70,1160.300,1168.90,0,3000,0.0,0.025,0.05,6
1,2022-03-09,0.15,0.200,0.25,3862,4370,209.3,210.150,211.00,118
2,2022-03-09,0.10,0.150,0.20,3405,4375,214.3,215.150,216.00,84
3,2022-03-09,0.10,0.125,0.15,2385,4380,209.8,218.800,227.80,17
4,2022-03-09,0.05,0.100,0.15,1390,4385,224.3,225.150,226.00,31
...,...,...,...,...,...,...,...,...,...,...
5886,2026-12-18,982.60,1078.600,1174.60,0,3700,376.7,472.700,568.70,1
5887,2026-12-18,1841.10,1937.100,2033.10,2,2400,125.0,188.950,252.90,0
5888,2026-12-18,0.00,150.000,300.00,0,9000,4190.1,4286.100,4382.10,2
5889,2026-12-18,712.50,808.500,904.50,1,4200,560.7,656.700,752.70,1
5890,2026-12-18,5.00,146.500,288.00,2110,9200,4369.5,4465.500,4561.50,0

# Task 1

In [41]:
def task_1(stock):
    df = data_preprocessing()
    maturity = list(set(df['Expiration Date']))
    dividend = []
    discount_factor = []
    for date in maturity:
        data = df[df['Expiration Date']==date]
        strike = data['Strike'].to_numpy()
        call = data['Call Price'].to_numpy()
        put = data['Put Price'].to_numpy()
        result = minimize(lambda x: np.sum(np.power(x[0]*stock-x[1]*strike-(call-put),2)), np.zeros(2)).x
        dividend.append(result[0])
        discount_factor.append(result[1])
    information = pd.DataFrame({'Maturity':pd.to_datetime(maturity), 'Dividend':dividend, 'Discount Factor':discount_factor})
    information.sort_values(by=['Maturity'], ascending=True, inplace=True)
    information.reset_index(drop=True, inplace=True)
    return information
print("Task 1 result")
task_1(4170.7002)

Task 1 result

     Maturity  Dividend  Discount Factor
0  2022-03-09  0.997492         0.999962
1  2022-03-11  0.997461         1.000078
2  2022-03-14  0.997261         1.000149
3  2022-03-16  0.997029         0.999846
4  2022-03-18  0.996944         0.999927
5  2022-03-21  0.997250         1.000220
6  2022-03-23  0.997325         1.000344
7  2022-03-25  0.996830         0.999866
8  2022-03-28  0.996911         0.999968
9  2022-03-30  0.996951         1.000061
10 2022-03-31  0.996889         1.000009
11 2022-04-01  0.996909         1.000075
12 2022-04-04  0.996821         0.999951
13 2022-04-06  0.997160         1.000490
14 2022-04-08  0.996609         1.000065
15 2022-04-14  0.996566         1.000016
16 2022-04-22  0.996362         0.999844
17 2022-04-29  0.996096         0.999578
18 2022-05-20  0.994922         0.999172
19 2022-05-31  0.994525         0.999006
20 2022-06-17  0.993681         0.998587
21 2022-06-30  0.993194         0.998101
22 2022-07-15  0.993129         0.997865
23 2022-07-29  0.992109         0.996682
24 2022-08-19  0.991571         0.996276
25 2022-08-31  0.991665         0.996475
26 2022-09-16  0.990675         0.995587
27 2022-09-30  0.990378         0.994314
28 2022-10-21  0.989845         0.994027
29 2022-11-18  0.988664         0.992720
30 2022-12-16  0.986059         0.989942
31 2022-12-30  0.987301         0.990044
32 2023-01-20  0.986626         0.988629
33 2023-02-17  0.982000         0.983263
34 2023-03-17  0.982158         0.983599
35 2023-06-16  0.979406         0.978223
36 2023-12-15  0.977068         0.970174
37 2024-12-20  0.946294         0.924094
38 2025-12-19  0.933353         0.903011
39 2026-12-18  0.936475         0.896494